* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(118 118 245);
    padding: 100px;
    overflow-x: hidden;
}

.todo-app-body {
    background-color: white;
    border-radius: 3px;
    border: 2px solid black;
    width: 500px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border: none;
}

.js-todo-app {
    font-size: 1.2rem;
    font-family: cursive;
    margin-bottom: 40px;
}

#text-input {
    font-size: 1.2rem;
    padding: 5px;
    margin-inline: 20px;
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0);
}
#text-input:focus-visible{
    outline: 1px solid rgba(0, 0, 0, 0.5)
}


#submit-btn {
    font-size: 1.2rem;
    padding: 5px 10px;
    border: none;
    background-color: rgb(67, 97, 238);
    color: white;
    border-radius: 2px;
}

#submit-btn:hover {
    background-color: rgba(67, 97, 238, 0.5);
    cursor: pointer;
}

.submit-btn-click {
    background-color: rgba(67, 97, 238, 0.5) !important;
}

.submit-btn-disabled {
    background-color: rgba(67, 97, 238, 0.5) !important;
}


.task-section {
    width: 100%;
    margin-top: 40px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.tasks {
    list-style-type: none;
    
}

.task {
    font-family: sans-serif;
    background-color: white;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    display: flex;
    /* padding: 5px;
    justify-content: space-between; */
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 5px 10px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
}

/* .task:hover { */
    /* background-color: rgba(0, 0, 0, 0.2); */
/* } */


.task-complet-btn {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-100%, -50%);
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border: 1px solid #c19d9d;
    color: red;
}



.task-complet-btn:hover {
    background-color: red;
    color: white;
    border: 1px solid red;
}

.task-time {
    font-size: 0.7rem;
    color: blue;
}



.empty-task {
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
}

.empty-task-none {
    display: none;
}